.home__container {
	display: flex;
}
.gifs__container {
	margin-top: 3em;
}
.subTitle {
	color: var(--lightPurple);
	margin-bottom: 1.5em;
}

@media screen and (max-width: 675px) {
	.home__container {
		flex-direction: column;
	}
}
