.category {
	margin-bottom: 0.5em;
}
.category__list {
	list-style: none;
	padding-left: 0;
}
.category__link {
	text-decoration: none;
	color: var(--purple);
	font-size: 1.2rem;
}
.category__link:hover {
	color: var(--lightPurple);
}

@media screen and (min-width: 675px) {
	.category__list > li {
		margin-bottom: 0.8em;
		line-height: 15px;
	}
	.category {
		margin-bottom: 1.5em;
	}
}
