.header {
	width: 100%;
	padding-inline: 5%;
	padding-block: 10px;
	display: flex;
	justify-content: flex-end;
}

.header__btn {
	width: 90px;
	padding-block: 0.5em;
	background-color: var(--purple);
	border: 1px solid var(--purple);
	color: var(--white);
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.header__btn:hover {
	background-color: var(--purpleHover);
	border-color: var(--purpleHover);
	color: var(--white);
}
